<div class="element">
    <div class="overlap-group">
        <img class="logo-pic" src="./assets/img/5361728065911-pic-2.png" alt="logo" />
        <div class="text-wrapper">Welcome</div>
        <div class="button-container">
            <button class="back-button" (click)="navigateToLogin()">Login</button>
            <button class="next-button" (click)="navigateToRoleSelect()">Sign up</button>
        </div>
        <img class="element-pic" src="./assets/img/0.png" alt="background" />
    </div>
</div>